@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color:#d99e88;
}

.header{
    /* background-color: rgb(105, 98, 98); */
    width: 80%;
    margin:0 auto;
    color: rgb(31, 21, 21);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgb(92, 85, 85);
}
.header-container h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    padding-top: 2.5rem;
    margin: 1rem

}
.search-input{
    margin: 1rem;
    width: 500px;
    height: 40px;
    outline: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: none;
    font-weight:bolder;
    font-size: 17px;
}
.recipe-list{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 3rem;
    justify-content: space-between;
}
.recipe-item{
    width: 350px;
    border-radius: 1rem;
    padding:5px;
    background-color: rgb(137 9 9)
}
img{
    width: 350px;
    border-radius: 20px;
    max-height: 500px;
    margin-bottom: 20px;
}
.recipe-list h3{
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    width:350px

}
.LetterBox{
    text-align: center;
    display: flex;
    margin: 2rem 0;
}
.letter-cards{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white ;
    background-color: black;
    width: 50px;
    margin: 0 5px 0 5px;
}